<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/begean') %>
    <p>Movie title: <b><%= movie.title %></b></p>
    <p>Movie year: <b><%= movie.year %></b></p>
    <p>Movie imbdRating: <b><%= movie.imdbRating %></b></p>
    
</head>
<body> 
</body>
</html>